<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <i class="ri-menu-line menu"></i>
        <!-- <i class="ri-close-fill cancel"></i> -->
        <div class="heading">
            <a href="/"><h1>The Hint</h1></a>
        </div>
        <div class="navBar">
            <a href="/">Home</a>
            <a href="education.html">Education</a>
            <!-- <a href="/">Politics</a>
            <a href="/">Defence</a> -->
            <a href="judiciary.html">Judiciary</a>
            <a href="journalist.html">journalist</a>
            <a href="about.html">About</a>
        </div>
        <div class="search">
            <i class="ri-search-line"></i>
        </div>
        <div class="searchInput">
            <form action="news.html" method="get">
                <input type="search" name="search" required maxlength="500" placeholder="Search here...">
                <input type="submit" value="Search">
            </form>
        </div>
    </div>
    <div class="newsHeading">
        <h1>Our Journalist</h1>
    </div>
    <div class="j_container container">
        <div class="j_subcontainer newsContainer">
            <div class="journalist">
                <div class="j_image">
                    <img src="../img/jour1.jpg" >
                </div>
                <h2>Ayush Shembekar</h2>
                <p>BJMC and MJMC</p>
                <p>Experience: 6 years</p>
                <div class="links">
                    <a href=""><i class="ri-twitter-line"></i></a>
                    <a href=""><i class="ri-instagram-line"></i></a>
                    <a href=""><i class="ri-facebook-line"></i></a>
                    <a href=""><i class="ri-snapchat-line"></i></a>
                </div>
            </div>
            <div class="journalist">
                <div class="j_image">
                    <img src="../img/jour2.jpg">
                </div>
                <h2>Pratima Yadav</h2>
                <p>BA and Diploma in Journalism</p>
                <p>Experience: 4 years</p>
                <div class="links">
                    <a href=""><i class="ri-twitter-line"></i></a>
                    <a href=""><i class="ri-instagram-line"></i></a>
                    <a href=""><i class="ri-facebook-line"></i></a>
                    <a href=""><i class="ri-snapchat-line"></i></a>
                </div>
            </div>
            <div class="journalist">
                <div class="j_image">
                    <img src="../img/jour3.jpg">
                </div>
                <h2>Priyanshu Gupta</h2>
                <p>BA and Diploma in Journalism</p>
                <p>Experience: 15 years</p>
                <div class="links">
                    <a href=""><i class="ri-twitter-line"></i></a>
                    <a href=""><i class="ri-instagram-line"></i></a>
                    <a href=""><i class="ri-facebook-line"></i></a>
                    <a href=""><i class="ri-snapchat-line"></i></a>
                </div>
            </div> 
            <div class="journalist">
                <div class="j_image">
                    <img src="../img/jour4.jpg">
                </div>
                <h2>Kartik Jha</h2>
                <p>BJMC</p>
                <p>Experience: 11 years</p>
                <div class="links">
                    <a href=""><i class="ri-twitter-line"></i></a>
                    <a href=""><i class="ri-instagram-line"></i></a>
                    <a href=""><i class="ri-facebook-line"></i></a>
                    <a href=""><i class="ri-snapchat-line"></i></a>
                </div>
            </div> 
            <div class="journalist">
                <div class="j_image">
                    <img src="../img/jour5.jpg">
                </div>
                <h2>Kartika Nair</h2>
                <p>BJMC</p>
                <p>Experience: 13 years</p>
                <div class="links">
                    <a href=""><i class="ri-twitter-line"></i></a>
                    <a href=""><i class="ri-instagram-line"></i></a>
                    <a href=""><i class="ri-facebook-line"></i></a>
                    <a href=""><i class="ri-snapchat-line"></i></a>
                </div>
            </div> 
            <div class="journalist">
                <div class="j_image">
                    <img src="../img/jour6.jpg">
                </div>
                <h2>Sakshi Bhosle</h2>
                <p>BA and BJMC</p>
                <p>Experience: 9 years</p>
                <div class="links">
                    <a href=""><i class="ri-twitter-line"></i></a>
                    <a href=""><i class="ri-instagram-line"></i></a>
                    <a href=""><i class="ri-facebook-line"></i></a>
                    <a href=""><i class="ri-snapchat-line"></i></a>
                </div>
            </div> 
            <div class="journalist">
                <div class="j_image">
                    <img src="../img/jour8.jpg">
                </div>
                <h2>Tina Dharmik</h2>
                <p>BJMC and MJMC</p>
                <p>Experience: 20 years</p>
                <div class="links">
                    <a href=""><i class="ri-twitter-line"></i></a>
                    <a href=""><i class="ri-instagram-line"></i></a>
                    <a href=""><i class="ri-facebook-line"></i></a>
                    <a href=""><i class="ri-snapchat-line"></i></a>
                </div>
            </div> 
            <div class="journalist">
                <div class="j_image">
                    <img src="../img/jour7.jpg">
                </div>
                <h2>Nilesh Yaduvanshi</h2>
                <p>BA and BJMC</p>
                <p>Experience: 22 years</p>
                <div class="links">
                    <a href=""><i class="ri-twitter-line"></i></a>
                    <a href=""><i class="ri-instagram-line"></i></a>
                    <a href=""><i class="ri-facebook-line"></i></a>
                    <a href=""><i class="ri-snapchat-line"></i></a>
                </div>
            </div> 
            <div class="journalist">
                <div class="j_image">
                    <img src="../img/jour9.jpg">
                </div>
                <h2>Kunal Parkhade</h2>
                <p>BA and BJMC</p>
                <p>Experience: 15 years</p>
                <div class="links">
                    <a href=""><i class="ri-twitter-line"></i></a>
                    <a href=""><i class="ri-instagram-line"></i></a>
                    <a href=""><i class="ri-facebook-line"></i></a>
                    <a href=""><i class="ri-snapchat-line"></i></a>
                </div>
            </div> 
        </div>
    </div>
    <script src="journalist.js"></script>
</body>
</html>