.articles {
    width: 100%;
    /* border: 1px solid greenyellow; */
}

.articles .image {
    width: 100%;
}

.articles .image img {
    width: 100%;
    height: 25rem;
}

.articles a {
    margin-top: .4rem;
    line-height: 1.6;
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 2.1rem;
}

.articles a:hover {
    color: red;
}

.articles a:link {
    color: black;
}

.articles a:visited {
    color: blue;
}

.articles .small {
    display: flex;
    gap: 2rem;
    margin-top: .5rem;
}

.articles .small p {
    background-color: black;
    color: white;
    padding: .4rem 1rem;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.3rem;
}

.articles .desc {
    margin-top: .5rem;
    font-weight: 500;
    font-size: 1.45rem;
    line-height: 1.6;
}